* {
  box-sizing: border-box;
  margin: 0;
}

@media (max-width:375px) {
  img {
    width: 100%;
  }
}

@media (min-width:375px) {
  img {
    width: 80%;
    display: block;
    margin: auto;
  }
}
h1 {
  font-family: young serif ;
}
p {
  font-size: 16px;
}